body {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 610px;
}

#empty {
    width: 600px;
    height: 600px;
    background-color: white;
}

.start {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.start * {
    width: 100%;
}